@keyframes menucolor {
	0% {background-color: #a23b34;}
	50% {background-color: #183b34;}
	100% {background-color: #a23b34;}

}


body {
	margin: 0;
	background: url('../Imgs/background.jpg') no-repeat center center fixed;
	background-size: cover;
}

#background {
	position: absolute;
	z-index: -2;
	top: 0; left: 0;
	width: 100%;

}

/*-►►►►►►►►►►►►►►►►►►►►►►►►►►►►►►►►►-*\
  					CONTAINER
\*-►►►►►►►►►►►►►►►►►►►►►►►►►►►►►►►►►-*/

.container{
	/*height: 2000px;*/
	margin: 3% 8% 0;
	background-color: rgba(0, 37, 43, 0.50);
}

#logo{
	text-align: center;
}
#logo a img {
	width: 20%;

}

nav, ul {
	text-align: center;
}
nav ul {
	padding: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 100px;
	box-shadow: 
}
nav ul li:first-child {
	margin-left: 0px;
}

nav ul li {

}

nav ul li a {
	padding: 10px 15px;
	background-color: #a23b34;
	box-shadow: 5px 5px 0px black;
	padding: 10px 15px;
	font-family: "brothers",sans-serif;
	font-size: 180%;
	letter-spacing: 5px;
	text-decoration: none;
	color: white;
}
nav ul li a:hover {
	animation-name: menucolor;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
}