@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	top: 0;
}
.link a {
	text-decoration: none;
	color: #08599b;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	top: 0;
	padding: 0px 0px 2px 1px;
	}
#logo {
	right: 8px;
	top: 1px;
	width: 20%;
	position: absolute; 
}

nav a{
	font-size: 30px;
	text-decoration: none;
	color: white;
	display: inherit;
	padding: 10%;
	background-size: cover;
}
#sardines {
	background-image:url('../images/sardines.jpg');
	
}

#pasta {
	background-image:url('../images/pasta.gif');
}

#lemon {
	background-image:url('../images/lemons.gif');
}

#rice {
	background-image:url('../images/rice.gif');
}

#orange {
	background-image:url('../images/oranges.gif');
	
}