@charset "utf-8";
/* CSS Document */

#product {
	
	width: 70%;
	padding-top: 40%;
	
}
#container {
	width: 100%;
	margin: auto;
	background: url(../images/kitchentable.jpg);
	background-size: contain;
	background-repeat:round;
	text-align: center;  
}
table {
	text-align: left;
	width: 100%;
	font-family: sans-serif;
}

#head td {
	color: white;
	background-color: #286aa7;
	padding-right: 50px;
	font-weight: bold;
}
.gray {
	background-color: #f2f2f2;
}
#finale {
	margin: 10px 20px -5px;
	}
#thisimageistoobig {
	width: 40%;
	padding-top: 30%;
}